<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Cricket ODI Matches Prediction</title>
<link type="text/css" rel="stylesheet" href="style.css">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>Cricket ODI Matches Prediction</a></h1>
		<form class="appnitro"  method="POST" action="{{ url_for('predict')}}">
					<div class="form_description">
			<h2>Cricket ODI Matches Prediction</h2>
			<p>Enter the following information</p>
		</div>						

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
<table width="100%" border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
<tr valign="top">
<td style="border-width : 0px;"><br />
 		<li id="li_2" >
		<label class="description" for="element_2">Country </label>
		<div>
		<select class="element select large" id="element_2" name="element_2" required="required"> 
				<option value="" selected="selected"></option>
				<option>Afghanistan</option>
				<option>Australia</option>
				<option>Bangladesh</option>
				<option>England</option>
				<option>India</option>
				<option>Ireland</option>
				<option>New Zealand</option>
				<option>Pakistan</option>
				<option>Scotland</option>
				<option>South Africa</option>
				<option>Sri Lanka</option>
				<option>West Indies</option>
				<option>Zimbabwe</option>
		</select>
		</div><p class="guidelines" id="guide_2"><small>Select the country for which you want to predict the result</small></p> 
		</li>
</td>
<td style="border-width : 0px;"><br />
 		<li id="li_48" >
		<label class="description" for="element_48">Opposition </label>
		<div>
		<select class="element select large" id="element_48" name="element_48" required="required"> 
			 <option value="" selected="selected"></option>
			 <option>Afghanistan</option>
			 <option>Australia</option>
			 <option>Bangladesh</option>
			 <option>England</option>
			 <option>India</option>
			 <option>Ireland</option>
			 <option>New Zealand</option>
			 <option>Pakistan</option>
			 <option>Scotland</option>
			 <option>South Africa</option>
			 <option>Sri Lanka</option>
			 <option>West Indies</option>
			 <option>Zimbabwe</option>
		</select>
		</div><p class="guidelines" id="guide_48"><small>Select the opposition country against which your subject country is playing</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_50" >
		<label class="description" for="element_50">Home/Away</label>
		<div>
		<select class="element select large" id="element_50" name="element_50" required="required"> 
				<option value="" selected="selected"></option>
				<option>Home</option>
				<option>Away</option>
		</select>
		</div><p class="guidelines" id="guide_50"><small>Is it a home match or an away match</small></p> 
		</li>		
</td>

<td style="border-width : 0px;"><br />
		<li id="li_51" >
		<label class="description" for="element_51">Toss Won?</label>
		<div>
		<select class="element select large" id="element_51" name="element_51" required="required"> 
				<option value="" selected="selected"></option>
				<option>Yes</option>
				<option>No</option>
		</select>
		</div><p class="guidelines" id="guide_51"><small>Did your country win the toss?</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_52" >
		<label class="description" for="element_52">Ground</label>
		<div>
		<select class="element select large" id="element_52" name="element_52" required="required"> 
			 <option value="" selected="selected"></option>
			 <option>Abu Dhabi</option>
			 <option>Adelaide</option>
			 <option>Ahmedabad</option>
			 <option>Albion</option>
			 <option>Amstelveen</option>
			 <option>Auckland</option>
			 <option>Basseterre</option>
			 <option>Belfast</option>
			 <option>Bengaluru</option>
			 <option>Benoni</option>
			 <option>Birmingham</option>
			 <option>Bloemfontein</option>
			 <option>Bogra</option>
			 <option>Bridgetown</option>
			 <option>Brisbane</option>
			 <option>Bristol</option>
			 <option>Bulawayo</option>
			 <option>Canberra</option>
			 <option>Cape Town</option>
			 <option>Cardiff</option>
			 <option>Centurion</option>
			 <option>Chandigarh</option>
			 <option>Chattogram</option>
			 <option>Chennai</option>
			 <option>Chester-le-Street</option>
			 <option>Christchurch</option>
			 <option>Colombo (PSS)</option>
			 <option>Colombo (RPS)</option>
			 <option>Colombo (SSC)</option>
			 <option>Cuttack</option>
			 <option>Dambulla</option>
			 <option>Delhi</option>
			 <option>Dhaka</option>
			 <option>Dubai (DSC)</option>
			 <option>Dublin</option>
			 <option>Dublin (Malahide)</option>
			 <option>Dunedin</option>
			 <option>Durban</option>
			 <option>East London</option>
			 <option>Edinburgh</option>
			 <option>Faisalabad</option>
			 <option>Faridabad</option>
			 <option>Fatullah</option>
			 <option>Galle</option>
			 <option>Georgetown</option>
			 <option>Greater Noida</option>
			 <option>Gros Islet</option>
			 <option>Gujranwala</option>
			 <option>Guwahati</option>
			 <option>Gwalior</option>
			 <option>Hambantota</option>
			 <option>Hamilton</option>
			 <option>Harare</option>
			 <option>Hobart</option>
			 <option>Hyderabad (Deccan)</option>
			 <option>Hyderabad (Sind)</option>
			 <option>Indore</option>
			 <option>Jaipur</option>
			 <option>Jamshedpur</option>
			 <option>Johannesburg</option>
			 <option>Kandy</option>
			 <option>Kanpur</option>
			 <option>Karachi</option>
			 <option>Kimberley</option>
			 <option>Kingston</option>
			 <option>Kingstown</option>
			 <option>Kochi</option>
			 <option>Kolkata</option>
			 <option>Kuala Lumpur</option>
			 <option>Lahore</option>
			 <option>Leeds</option>
			 <option>Lord's</option>
			 <option>Manchester</option>
			 <option>Margao</option>
			 <option>Melbourne</option>
			 <option>Melbourne (Docklands)</option>
			 <option>Mohali</option>
			 <option>Mombasa</option>
			 <option>Moratuwa</option>
			 <option>Mount Maunganui</option>
			 <option>Multan</option>
			 <option>Mumbai</option>
			 <option>Mumbai (BS)</option>
			 <option>Nagpur</option>
			 <option>Nairobi (Gym)</option>
			 <option>Napier</option>
			 <option>Nelson</option>
			 <option>North Sound</option>
			 <option>Nottingham</option>
			 <option>Paarl</option>
			 <option>Pallekele</option>
			 <option>Perth</option>
			 <option>Peshawar</option>
			 <option>Port Elizabeth</option>
			 <option>Port of Spain</option>
			 <option>Potchefstroom</option>
			 <option>Providence</option>
			 <option>Pune</option>
			 <option>Queenstown</option>
			 <option>Rajkot</option>
			 <option>Rawalpindi</option>
			 <option>Rotterdam</option>
			 <option>Sharjah</option>
			 <option>Sialkot</option>
			 <option>Singapore</option>
			 <option>Southampton</option>
			 <option>St George's</option>
			 <option>St John's</option>
			 <option>Sydney</option>
			 <option>Tangier</option>
			 <option>Taunton</option>
			 <option>The Hague</option>
			 <option>The Oval</option>
			 <option>Toronto</option>
			 <option>Vadodara</option>
			 <option>Visakhapatnam</option>
			 <option>Wellington</option>
			 <option>Others</option>
		</select>
		</div><p class="guidelines" id="guide_52"><small>Select the name of the ground where the match will be played</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_49" >
		<label class="description" for="element_49">Match Month (1-12) </label>
		<div>
		<select class="element select large" id="element_49" name="element_49" required="required"> 
			 <option value="" selected="selected"></option>
			 <option>1</option>
			 <option>2</option>
			 <option>3</option>
			 <option>4</option>
			 <option>5</option>
			 <option>6</option>
			 <option>7</option>
			 <option>8</option>
			 <option>9</option>
			 <option>10</option>
			 <option>11</option>
			 <option>12</option>
		</select>
		</div><p class="guidelines" id="guide_49"><small>Select the month in which the match is being played</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_3" >
		<label class="description" for="element_3">Win/Loss Ratio </label>
		<div>
		<input id="element_3" name="element_3" class="element text large" type="number" step=".01" required="required" value=""/> 
		</div><p class="guidelines" id="guide_3"><small>Enter the latest win/loss ratio for your subject country</small></p> 
		</li>
</td>
</tr>
</div>
</table>		

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
<table width="100%" border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_4" >
		<label class="description" for="element_4">Player 1 Bowling Rank </label>
		<div>
		<input id="element_4" name="element_4" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_4"><small>Enter the ICC ODI Bowling Rank for your team's 1st player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_5" >
		<label class="description" for="element_5">Player 2 Bowling Rank </label>
		<div>
		<input id="element_5" name="element_5" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_5"><small>Enter the ICC ODI Bowling Rank for your team's 2nd player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_6" >
		<label class="description" for="element_6">Player 3 Bowling Rank </label>
		<div>
		<input id="element_6" name="element_6" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_6"><small>Enter the ICC ODI Bowling Rank for your team's 3rd player</small></p> 
		</li>		
</td>

<td style="border-width : 0px;"><br />
		<li id="li_7" >
		<label class="description" for="element_7">Player 4 Bowling Rank </label>
		<div>
		<input id="element_7" name="element_7" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_7"><small>Enter the ICC ODI Bowling Rank for your team's 4th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_8" >
		<label class="description" for="element_8">Player 5 Bowling Rank </label>
		<div>
		<input id="element_8" name="element_8" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_8"><small>Enter the ICC ODI Bowling Rank for your team's 5th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_9" >
		<label class="description" for="element_9">Player 6 Bowling Rank </label>
		<div>
		<input id="element_9" name="element_9" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_9"><small>Enter the ICC ODI Bowling Rank for your team's 6th player</small></p> 
		</li>		
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_10" >
		<label class="description" for="element_10">Player 7 Bowling Rank </label>
		<div>
		<input id="element_10" name="element_10" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_10"><small>Enter the ICC ODI Bowling Rank for your team's 7th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_11" >
		<label class="description" for="element_11">Player 8 Bowling Rank </label>
		<div>
		<input id="element_11" name="element_11" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_11"><small>Enter the ICC ODI Bowling Rank for your team's 8th player</small></p> 
		</li>
</td>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_12" >
		<label class="description" for="element_12">Player 9 Bowling Rank </label>
		<div>
		<input id="element_12" name="element_12" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_12"><small>Enter the ICC ODI Bowling Rank for your team's 9th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_13" >
		<label class="description" for="element_13">Player 10 Bowling Rank </label>
		<div>
		<input id="element_13" name="element_13" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_13"><small>Enter the ICC ODI Bowling Rank for your team's 10th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_14" >
		<label class="description" for="element_14">Player 11 Bowling Rank </label>
		<div>
		<input id="element_14" name="element_14" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_14"><small>Enter the ICC ODI Bowling Rank for your team's 11th player</small></p> 
		</li>
</td>
</tr>
</div>
</table>		

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
<table width="100%" border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_15" >
		<label class="description" for="element_15">Opposition Player 1 Bowling Rank </label>
		<div>
		<input id="element_15" name="element_15" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_15"><small>Enter the ICC ODI Bowling Rank for the opposition team's 1st player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_16" >
		<label class="description" for="element_16">Opposition Player 2 Bowling Rank </label>
		<div>
		<input id="element_16" name="element_16" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_16"><small>Enter the ICC ODI Bowling Rank for the opposition team's 2nd player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_17" >
		<label class="description" for="element_17">Opposition Player 3 Bowling Rank </label>
		<div>
		<input id="element_17" name="element_17" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_17"><small>Enter the ICC ODI Bowling Rank for the opposition team's 3rd player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_18" >
		<label class="description" for="element_18">Opposition Player 4 Bowling Rank </label>
		<div>
		<input id="element_18" name="element_18" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_18"><small>Enter the ICC ODI Bowling Rank for the opposition team's 4th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_19" >
		<label class="description" for="element_19">Opposition Player 5 Bowling Rank </label>
		<div>
		<input id="element_19" name="element_19" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_19"><small>Enter the ICC ODI Bowling Rank for the opposition team's 5th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_20" >
		<label class="description" for="element_20">Opposition Player 6 Bowling Rank </label>
		<div>
		<input id="element_20" name="element_20" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_20"><small>Enter the ICC ODI Bowling Rank for the opposition team's 6th player</small></p> 
		</li>		
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_21" >
		<label class="description" for="element_21">Opposition Player 7 Bowling Rank </label>
		<div>
		<input id="element_21" name="element_21" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_21"><small>Enter the ICC ODI Bowling Rank for the opposition team's 7th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_22" >
		<label class="description" for="element_22">Opposition Player 8 Bowling Rank </label>
		<div>
		<input id="element_22" name="element_22" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_22"><small>Enter the ICC ODI Bowling Rank for the opposition team's 8th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_23" >
		<label class="description" for="element_23">Opposition Player 9 Bowling Rank </label>
		<div>
		<input id="element_23" name="element_23" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_23"><small>Enter the ICC ODI Bowling Rank for the opposition team's 9th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_24" >
		<label class="description" for="element_24">Opposition Player 10 Bowling Rank </label>
		<div>
		<input id="element_24" name="element_24" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_24"><small>Enter the ICC ODI Bowling Rank for the opposition team's 10th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_25" >
		<label class="description" for="element_25">Opposition Player 11 Bowling Rank </label>
		<div>
		<input id="element_25" name="element_25" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_25"><small>Enter the ICC ODI Bowling Rank for the opposition team's 11th player</small></p> 
		</li>
</td>
</tr>
</div>
</table>

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
<table width="100%" border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_26" >
		<label class="description" for="element_26">Player 1 Batting Rank </label>
		<div>
		<input id="element_26" name="element_26" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_26"><small>Enter the ICC ODI Batting Rank for your team's 1st player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_27" >
		<label class="description" for="element_27">Player 2 Batting Rank </label>
		<div>
		<input id="element_27" name="element_27" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_27"><small>Enter the ICC ODI Batting Rank for your team's 2nd player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_28" >
		<label class="description" for="element_28">Player 3 Batting Rank </label>
		<div>
		<input id="element_28" name="element_28" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_28"><small>Enter the ICC ODI Batting Rank for your team's 3rd player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_29" >
		<label class="description" for="element_29">Player 4 Batting Rank </label>
		<div>
		<input id="element_29" name="element_29" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_29"><small>Enter the ICC ODI Batting Rank for your team's 4th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_30" >
		<label class="description" for="element_30">Player 5 Batting Rank </label>
		<div>
		<input id="element_30" name="element_30" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_30"><small>Enter the ICC ODI Batting Rank for your team's 5th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_31" >
		<label class="description" for="element_31">Player 6 Batting Rank </label>
		<div>
		<input id="element_31" name="element_31" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_31"><small>Enter the ICC ODI Batting Rank for your team's 6th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_32" >
		<label class="description" for="element_32">Player 7 Batting Rank </label>
		<div>
		<input id="element_32" name="element_32" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_32"><small>Enter the ICC ODI Batting Rank for your team's 7th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_33" >
		<label class="description" for="element_33">Player 8 Batting Rank </label>
		<div>
		<input id="element_33" name="element_33" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_33"><small>Enter the ICC ODI Batting Rank for your team's 8th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_34" >
		<label class="description" for="element_34">Player 9 Batting Rank </label>
		<div>
		<input id="element_34" name="element_34" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_34"><small>Enter the ICC ODI Batting Rank for your team's 9th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_35" >
		<label class="description" for="element_35">Player 10 Batting Rank </label>
		<div>
		<input id="element_35" name="element_35" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_35"><small>Enter the ICC ODI Batting Rank for your team's 10th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_36" >
		<label class="description" for="element_36">Player 11 Batting Rank </label>
		<div>
		<input id="element_36" name="element_36" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_36"><small>Enter the ICC ODI Batting Rank for your team's 11th player</small></p> 
		</li>		
</td>
</tr>
</div>
</table>

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
<table width="100%" border="1" cellpadding="2" cellspacing="2" style="background-color: #ffffff;">
<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_37" >
		<label class="description" for="element_37">Opposition Player 1 Batting Rank </label>
		<div>
		<input id="element_37" name="element_37" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_37"><small>Enter the ICC ODI Batting Rank for the opposition team's 1st player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_38" >
		<label class="description" for="element_38">Opposition Player 2 Batting Rank </label>
		<div>
		<input id="element_38" name="element_38" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_38"><small>Enter the ICC ODI Batting Rank for the opposition team's 2nd player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_39" >
		<label class="description" for="element_39">Opposition Player 3 Batting Rank </label>
		<div>
		<input id="element_39" name="element_39" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_39"><small>Enter the ICC ODI Batting Rank for the opposition team's 3rd player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_40" >
		<label class="description" for="element_40">Opposition Player 4 Batting Rank </label>
		<div>
		<input id="element_40" name="element_40" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_40"><small>Enter the ICC ODI Batting Rank for the opposition team's 4th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_41" >
		<label class="description" for="element_41">Opposition Player 5 Batting Rank </label>
		<div>
		<input id="element_41" name="element_41" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_41"><small>Enter the ICC ODI Batting Rank for the opposition team's 5th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_42" >
		<label class="description" for="element_42">Opposition Player 6 Batting Rank </label>
		<div>
		<input id="element_42" name="element_42" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_42"><small>Enter the ICC ODI Batting Rank for the opposition team's 6th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_43" >
		<label class="description" for="element_43">Opposition Player 7 Batting Rank </label>
		<div>
		<input id="element_43" name="element_43" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_43"><small>Enter the ICC ODI Batting Rank for the opposition team's 7th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_44" >
		<label class="description" for="element_44">Opposition Player 8 Batting Rank </label>
		<div>
		<input id="element_44" name="element_44" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_44"><small>Enter the ICC ODI Batting Rank for the opposition team's 8th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_45" >
		<label class="description" for="element_45">Opposition Player 9 Batting Rank </label>
		<div>
		<input id="element_45" name="element_45" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_45"><small>Enter the ICC ODI Batting Rank for the opposition team's 9th player</small></p> 
		</li>
</td>

<td style="border-width : 0px;"><br />
		<li id="li_46" >
		<label class="description" for="element_46">Opposition Player 10 Batting Rank </label>
		<div>
		<input id="element_46" name="element_46" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_46"><small>Enter the ICC ODI Batting Rank for the opposition team's 10th player</small></p> 
		</li>
</td>
</tr>

<tr valign="top">
<td style="border-width : 0px;"><br />
		<li id="li_47" >
		<label class="description" for="element_47">Opposition Player 11 Batting Rank </label>
		<div>
		<input id="element_47" name="element_47" class="element text large" type="number" required="required" value=""/> 
		</div><p class="guidelines" id="guide_47"><small>Enter the ICC ODI Batting Rank for the opposition team's 11th player</small></p> 
		</li>
</td>
</tr>
</div>
</table>
			
		<li class="buttons">
        <button type="submit" class="button_text">Predict</button>
		</li>
			


		</form>	
		<div id="footer">
			Powered by <a href="https://www.finlyticshub.com">Finlytics Hub</a>
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
 {{pred}}
	</body>
</html>
